// 颜色定义规范
$color-background = #ffffff
$color-theme = #FEF188
$color-highlight-background = #FDC887

$color-text = #FAB421
$color-text-d = #333333
$color-text-l = #666666
$color-text-ll = #999999
$color-text-un = #cccccc

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px